<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

<style>

  </style>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
     <meta name="description" content="This is the description">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="js/store.js" async></script>
  </head>
  <body ng-app="myApp" id="body1">
    <header>
      <nav class="navbar navbar-default" id="header-nav">
        <div class="container">

          <!-- /** This for restarurant code  **/ -->
            <div class="navbar-header">
              <a href="index.html" class="pull-left visible-md visible-lg">
                <div id="logo-img" alt="logo-image"></div>
              </a>

          <!-- This for brand name -->
              <div class="navbar-brand brand-name">
                <a href="home.html"><h1>Foody Restaurant</h1></a>
                <p>⭐Certified by Community</p>
              </div>
        <!-- Tis is for toggle button  -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </div>


          <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="menu.html">
                <span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"> Menu</a>
            </li>
            <li>
              <a href="specialMenu.html">
                <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs"> Special Menu</a>
            </li>
            <li>
              <a href="BookingTable.html">
                <span class="glyphicon glyphicon-certificate"></span><br class="hidden-xs"> Booking Table</a>
            </li>
            <li id="phone" class="hidden-xs">
              <a href="tel:410-602-5008">
                <span>410-602-5008</span></a><div>* We Deliver</div>
            </li>
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->

        </div>
      </nav>
    </header>

    <div id="call-btn" class="visible-xs">
      <a class="btn" href="tel:410-602-5008">
        <span class="glyphicon glyphicon-earphone"></span>
          410-602-5008
      </a>
    </div>
    <div id="xs-deliver" class="text-center visible-xs">* We Deliver</div>
    <!-- --------------------------------------------------------------------------------------------------- -->
<section class="content-section container hidden2">
  <h2 class="section-header">Details</h2>
  <form  ng-controller="validateCtrl" name="myForm" novalidate   class="myform">

  <p class="details">Name:
  <input type="text" name="user" ng-model="user" required>
  <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
  <span ng-show="myForm.user.$error.required">Username is required.</span>
  </span>
  </p>

  <p class="details">Email:
  <input type="email" name="email" ng-model="email" required>
  <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span ng-show="myForm.email.$error.required">Email is required.</span>
  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
  </span>
  </p>

  <!-- <p>
  <input type="submit"
  ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid">
  </p> -->

  </form><hr />
</section>
<!-- ------------------------------------------------------------------------------------------------------------------ -->
<section class="content-section container hidden2">
        <h2 class="section-header">Table Booking</h2>
        <div>
            <div class="table-row">
                <span class="table-item table-date">No 1</span>
                <span class="table-item table-floor">Left-Corner</span>
                <span class="table-item table-arena">Couple Table</span>
                <button type="button" class="table-item table-btn btn btn-primary" style="background-Color:#f6b319;Color:#800000" onclick="orderTable()">Order</button>
            </div>
            <div class="table-row">
                <span class="table-item table-date">No 2</span>
                <span class="table-item table-floor">Center</span>
                <span class="table-item table-arena">Family Table </span>
                <button type="button" class="table-item table-btn btn btn-primary" style="background-Color:#f6b319;Color:#800000" onclick="orderTable()">Order</button>
            </div>
            <div class="table-row">
                <span class="table-item table-date">No 3</span>
                <span class="table-item table-floor">Right-Corner</span>
                <span class="table-item table-arena">Party Table</span>
                <button type="button" class="table-item table-btn btn btn-primary" style="background-Color:#f6b319;Color:#800000" onclick="orderTable()">Order</button>
            </div>
            <div class="table-row">
                <span class="table-item table-date">No 4</span>
                <span class="table-item table-floor">Bottom-Center</span>
                <span class="table-item table-arena">Group Table</span>
                <button type="button" class="table-item table-btn btn btn-primary" style="background-Color:#f6b319;Color:#800000" onclick="orderTable()">Order</button>
            </div>
            <div class="table-row">
                <span class="table-item table-date">No 5</span>
                <span class="table-item table-floor">Top-Center</span>
                <span class="table-item table-arena">Family Table</span>
                <button type="button" class="table-item table-btn btn btn-primary" style="background-Color:#f6b319;Color:#800000;" onclick="orderTable()">Order</button>
            </div>
        </div>
        </section>
        <!-- ------------------------------------------------------------------------------------------------------ -->
    <section class="content-section container hidden" id="orderplaced1">
      <center>
          <h2>Table Booking Successfull</h2><br>
          <img src="Images/tick.png" alt="tick picture">
      </center>
      </section>
        <!-- ------------------------------------------------------------------------------------------------------ -->
    <section class="content-section container terms">
        <h3>Hide the Terms( By checkbox): <input type="checkbox" ng-model="myCheck"></h3><hr>

        <div ng-hide="myCheck" class="hidden-box">
          <h4>Terms and Condition :- </h4>
          <ul>
            <li>You can only Book one Table.</li>
            <li>You cannot cancell booking.</li>
            <li>You can Payment of booking add to your Bill.</li>
          </ul>
        </div>
    </section>


<!-- ------------------------------------------------------------------------------------------------------ -->

  <script>
  var app = angular.module('myApp', []);
  app.controller('validateCtrl', function($scope) {
      $scope.user = ' ';
      $scope.email = ' ';
  });
var app1 = angular.module('myApp1', ['ngAnimate']);
  </script>


<!-- ------------------------------------------------------------------------------------------------------------------------- -->
    <footer class="panel-footer" style="background-color: #222">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-4">
          <span>Hours:</span><br>
          Sun-Thurs: 11:15am - 10:00pm<br>
          Fri: 11:15am - 2:30pm<br>
          Saturday Closed
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-4">
          <span>Address:</span><br>
          Delhi  Road<br>
          Phagwara, MD 451115
          <p>* Delivery area within 5-20 km, with minimum order of Rs200 plus Rs500 charge for all deliveries.</p>
          <hr class="visible-xs">
        </section>
        <section id="testimonials" class="col-sm-4">
          <p>"The best  restaurant I've been to! And that's saying a lot, since I've been to many!"</p>
          <p>"Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"</p>
        </section>
      </div>
      <div class="text-center">&copy; Copyright Foody restaurant 2016</div>
    </div>
  </footer>

        <!-- jQuery (Bootstrap JS plugins depend on it) -->
        <script src="js/jquery-2.1.4.min.js">
        </script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
  </body>
</html>
